In [1]:
import numpy as np
import pandas as pd

In [2]:
vals1 = np.array([1, None, 3, '4'])
vals1

array([1, None, 3, '4'], dtype=object)

In [3]:
for dtype in ['object', 'int', '<U1']:
    print('dtype = ', dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype =  object
59.5 ms ± 7.14 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype =  int
1.23 ms ± 39 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

dtype =  <U1

ValueError: no fill-function for data-type.

In [4]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [5]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [6]:
1 + np.nan

nan

In [7]:
0 * np.nan

nan

In [8]:
np.nan / 0

ZeroDivisionError: float division by zero

In [9]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

In [10]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

In [11]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [12]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int64

In [13]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64

In [14]:
data = pd.Series([1, np.nan, 'hello', None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [15]:
data.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [16]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [19]:
data[~data.isnull()]

0        1
2    hello
dtype: object

In [20]:
data.dropna()

0        1
2    hello
dtype: object

In [22]:
data.fillna(99)

0        1
1       99
2    hello
3       99
dtype: object

In [23]:
df = pd.DataFrame([[1, np.nan, 2],
                  [2, 3, 5],
                  [np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [24]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [25]:
df.dropna(axis=1)

   2
0  2
1  5
2  6

In [26]:
df.dropna(axis=0)

     0    1  2
1  2.0  3.0  5

In [27]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [28]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [29]:
df.dropna(axis=1, how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [30]:
df.dropna(axis=1, how='any')

   2
0  2
1  5
2  6

In [31]:
df.dropna(axis=0, thresh=2)

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [32]:
df.dropna(axis=0, thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

In [33]:
df.dropna(axis=0, thresh=1)

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [34]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [35]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [36]:
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [37]:
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [38]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [39]:
df.fillna(method='ffill', axis=1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

In [40]:
df.fillna(method='ffill', axis=0)

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  2.0  4.0  6 NaN